
#footer {
	margin-top: 50px;
	padding: 50px 0;
	background-color: #4E4E4E;
	background-image: url('/img/footer-bg.jpg');
	background-size: cover;
	background-position: center;		
	color: gray;
}

#footer a {
	color: gray;
}

#footer a:hover {
	color: white;
	text-decoration: none;
}

.btn-footer {
	background-color: #4E4E4E;
	color: #DCDCDC;
}

#footer ul li {
	padding-bottom: 10px;	
	list-style-type: none;
}

#footer form input {
	background-color: #4E4E4E;
	border: 1px solid #666;
	color: LightGray;
	font-size: 17px;
}

#footer .input-group-addon {
	background-color: #333;
	border: 1px solid #666;
	color: LightGreen;
}

#footer .glyphicon {
	color: #2A922A;
}

.footerPanel {
	padding: 10px 20px; 
	margin-bottom: 10px;
}

.footerImage {
	width: 100%;
	max-width: 250px;
}

.footerLogoText {
	font-family: 'Orbitron', sans-serif;
	font-weight: 900;
	padding: 0;
	margin: 0;
	color: #4D4D4D
}

.footerLogoMain {
	font-size: 30px;
}
.footerLogoMainBigger {
	font-size: 40px;
}

.footerLogoSlug {
	position: relative; 
	top: -10px; 
	font-size: 14px;	
}

.copyright {
	color: #4D4D4D;
	font-weight: bold;
}
